.flex-container{
    display: flex;
    background-color: rgb(0, 153, 255);
    margin: 0px;
    padding: 10px;
    color: rgb(255, 255, 255);
    font-family: fantasy;   
    align-items: baseline;
}
#logoutButton:link,#logoutButton:visited{
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
    

}
#logoutButton:hover,#logoutButton:active{
    font-size: 18px;
    color: rgb(255, 255, 255);
    text-align: center;
    padding-top:11px;
    text-decoration: none;
    background-color: rgb(13, 89, 253);

}
#myCourses{
    margin:20px 10%;
    font-size: 22px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding:5px 2%;
    min-width: 200px;
    max-width: 300px;
    color: aliceblue;
    border-radius: 10px;
    text-decoration: underline;
    align-items: center;
}
a{
    color: rgb(240, 240, 240);
    font-family: monospace;
    font-size: 20px;
    padding: 5px,25%;
    margin: 10px 5%;
}
a:hover{
    cursor: pointer;
    color:rgb(0, 246, 213);

}
.boxIn{
    border: solid 1px rgb(58, 195, 161);
    margin:20px 8%;
    max-width: 400px;
    
}
.rows:nth-child(even) {
    background-color: rgb(60, 68, 73);
  }
  
.rows{
    display: flex;
    background-color: rgb(44, 49, 53);
    
    color: rgb(255, 255, 255);
    font-family: fantasy;   
    align-items: baseline;
    justify-content: space-between;
   
    min-width: 250px;
    
    
  }
@font-face {
    font-family: myFirstFont;
    src: url(sansation_light.woff);
}