.flex-container{
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(0, 140, 255);
    justify-content: space-between ;
    align-items: baseline;
     
}
.elements{
    color: rgb(255, 255, 255) ;
    font-size: 25px;
    font-weight: 500;

}
.elements1{
    color: rgb(255, 255, 255);
    font-size: 20px;
  

}
